# ========================
# Java compiled files
# ========================
*.class
bin/

# ========================
# IDE files
# ========================
.idea/
.vscode/
*.iml
*.classpath
*.project
.settings/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Environment / Secrets
# ========================
.env
db.properties

# ========================
# JAR files (except libs)
# ========================
*.jar
!lib/*.jar
